@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@500&display=swap");

* {
  color: rgb(255, 255, 255);
}
html {
  overflow-x: hidden;
}
#screen {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90%;
}

.box {
  width: 20rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.16);
  text-transform: uppercase;
  border-radius: 4%;
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 20px 0.1px rgba(0, 0, 0, 0.322);
  animation: entradaCaixa 250ms linear;
}

.titulo {
  font-family: "Delicious Handrawn", cursive;
  font-size: 24px;
  margin-top: 1.2em;
  text-align: center;
}
.box label {
  font-family: "Edu NSW ACT Foundation", cursive;
  text-align: left;
  padding-left: 34px;
}

.box label:nth-child(2) {
  margin-top: 1.8em;
}
.box label:nth-child(4) {
  margin-top: 1.4em;
}

.campo {
  margin: 0.6em auto 0;
  width: 73.8%;
  height: 9%;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 10px;
}

.campo:focus {
  outline: none;
}

.botao__container {
  display: flex;
  justify-content: space-around;
  gap: 34%;
  width: 82.5%;
  margin: 2.8em auto 0;
}

.botao__container button {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  transition: 100ms;
}

.botao__container button:hover {
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.botao__container button:hover {
  transition: 200ms;
  color: rgba(255, 255, 255, 0.8);
}

.botao__container button:active {
  transition: 200ms;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.3);
}
.botao__container button:focus{
    outline:none;
}
.invalidated {
  animation: vibrationError 0.1s linear;
  background-color: rgba(234, 83, 83, 0.3);
}

@keyframes vibrationError {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-5px, -5px) rotate(-3deg);
  }
  40% {
    transform: translate(5px, -5px) rotate(3deg);
  }
  60% {
    transform: translate(5px, 5px) rotate(-3deg);
  }
  80% {
    transform: translate(-5px, 5px) rotate(3deg);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes entradaCaixa {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
